@import url(variables.css);

#inputs {
  display: flex;
  justify-content: center;
}

#cards {
  background-color: palevioletred;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  margin: 1rem auto;
  align-items: center;
}

#one {
  width: 50%;
}
