body {
  background-color: pink;
  font-family: "Kosugi Maru", sans-serif;
}

:root {
  --black: #000;
  --light-blue: #2998ff;
  --dark-blue: #135cc5;
  --light-red: #f87171;
  --dark-red: #dc2626;
  --gray: #252c30;

  /*Intentions */
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);

  /*Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}

.uwu {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}
.emo {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 2rem;
}

img {
  width: 500px;
}

.btn,
.btn:link,
.btn:visited {
  font-family: "Kosugi Maru", sans-serif;
  padding: 2rem 4rem;
  display: inline-block;
  margin: 1rem;
  font-size: 2rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.2);
}

.btn {
  color: deeppink;
  background-color: #e8fbff;
  border-color: dodgerblue;
}
